body {
    font-family: Arial, sans-serif;
    background-color: #2b2b2b;
    color: #ddd;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    height: 480px;
    margin: 2vh auto;
    padding: 20px;
    border-radius: 5px;
    background: #240200;
    background: linear-gradient(90deg, #240200 0, #f626e4 48%, #00d4ff 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    transition: box-shadow .3s;
    border-radius: 30px;
}

.container:hover {
    background: #240200;
    background: linear-gradient(90deg, #240200 0, #00d4ff 48%, #f626e4 100%);
    box-shadow: 0 0 15px rgba(31, 0, 117, .8), 0 0 40px rgba(0, 185, 252, .6), 0 0 60px rgba(255, 255, 255, .4);
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* max-width: 600px;  Remove this line */
}

.details img {
    border-radius: 50%;
    cursor: pointer;
    max-width: 100%;
    /* Ensure image scales down */
    height: auto;
    /* Maintain aspect ratio */
}

h2 {
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

.input-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-date {
    display: flex;
    justify-content: center;
    gap: 10px;
}

input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #666;
    border-radius: 1.5rem;
    width: 80px;
    color: #333;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    justify-content: center;
}

/* Styles for button */
button {
    color: #fff;
    font-size: 16px;
    background-color: #4caf50;
    width: 250px;
    padding: 10px 15px;
    border-radius: 1.5rem;
    border: 2px solid white;
    cursor: pointer;
    transition: background-color .3s, transform .3s;
}

/* Button hover styles */
button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

/* Reset button styles */
button[type=reset] {
    background-color: #f44336;
    margin-left: 10px;
}

/* Styles for paragraph */
p {
    color: #fff;
    font-size: 16px;
    text-shadow: 0px 0px 25px black;
}

/* Other styles in your code */
h2,
p {
    font-weight: 700;
    text-align: center;
}

.msg-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    max-width: fit-content;
    position: inherit;
    overflow: hidden;
}

@keyframes runningText {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}


footer {
    background-color: dark;
    box-shadow: 0px 0px 2px 2px grey;
    width: 80vw;
    margin: auto;
    padding: 5px 2px;
}

footer p {
    text-align: center;
    font-size: 9px;
    font-weight: normal;
}

footer:hover {
    box-shadow: 0px 0px 2px 5px grey;
}

footer p:hover {
    font-size: 10px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: linear-gradient(90deg, #240200 0, #f626e4 48%, #00d4ff 100%);
    box-shadow: 0 0 50px rgba(31, 0, 117, .8), 0 0 40px rgba(0, 185, 252, .6), 0 0 50px rgba(255, 255, 255, .4);
    border: 1px solid purple;
    border-radius: 15px;

}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* background blur class added for opening popup */
.backgroundBlur{
    filter: blur(10px);
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
    .container {
        margin: 0 auto;
        max-width: 90%;
    }

    .button-container {
        flex-direction: row; /* Reset to row for buttons on smaller screens */
    }

    button {
        width: 48%; /* Adjusted for smaller screens */
    }

    button[type=reset] {
        margin-top: 0; /* Reset margin-top for reset button on smaller screens */
    }
}